<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.metaflow.bledfu">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <service android:name="com.metaflow.bledfu.DfuService"/>
    </application>
</manifest>
